<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Informações de Livro</title>
</head>
<body>
    <h1>Atualizar Informações do Livro</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Dropdown atualizado para exibir idlivro e título -->
        <input type="submit" value="Atualizar">
    </form>

    <a href="{% url 'listar_livrosinfo' %}">Voltar para a lista</a>
</body>
</html>