<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa de Exemplares</title>
</head>
<body>
    <h1>Faça aqui a sua pesquisa</h1>
    <h2>Quanto ao compo "Está Disponível?", o valor 0 indica que não está, e 1 que está disponível</h2>

    <form method="GET" action="">
        <input type="text" name="query" placeholder="Pesquisar pelo titulo ou id do exemplar">
        <button type="submit">Buscar</button>
    </form>

    {% if query %}
        {% if exemplares %}
            <ul>
                {% for exemplar in exemplares %}
                    <li>Título: {{ exemplar.tituloexemplar }} - - - - ID(Exemplar): {{ exemplar.idexemplar }} - - - - ID(Livro): {{ exemplar.idlivro }} - - - - Quantidades disponíveis: {{ exemplar.quantidade }} - - - - Está Disponível?: {{ exemplar.disponivel }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nenhum exemplar encontrado.</p>
        {% endif %}
    {% endif %}

    <a href="{% url 'home' %}">Voltar para Home</a>
</body>
</html>