<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Bem-vindo à Página Inicial da Livros Dasein</h1>

    <!-- Link para a página de seleção de livros -->
    <a href="{% url 'selecionar_livro' %}">
        <button>Selecione um Livro para Atualizar</button>
    </a>

    <!-- link para a página de pesquisa de livros -->
    <form action="{% url 'livros_pesquisar' %}" method="get">
        <button type="submit">Ir para Pesquisa de Livros</button>
    </form>
</body>
</html>

    <!-- link para a página de pesquisa de exemplares -->
    <form action="{% url 'exemplares_pesquisar' %}" method="get">
        <button type="submit">Ir para Pesquisa de Exemplares</button>
    </form>

</body>
</html>